<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715435015080-qamqon8mt2e47ilrkun0ai1dqmqc4f2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715435015080-qamqon8mt2e47ilrkun0ai1dqmqc4f2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCmuLma3kKyhu7k_a540GvD2id2EiDxPoY</string>
	<key>GCM_SENDER_ID</key>
	<string>715435015080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.pldoctorapp</string>
	<key>PROJECT_ID</key>
	<string>pill-locker-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pill-locker-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715435015080:ios:97eb6e2e67b73c4ded7b9d</string>
</dict>
</plist>